/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

body{
  font-family: 'Trebuchet MS', sans-serif;
}
/*5500px*/
.printerpage {
 
  

}

p{
  font-size:x-large;
}

.small-number {
  width: 20px;
}

.small-icon {
  width: 45px;
}

.bigPage {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.bottom-down {
  position: relative;
  margin-bottom: 10px;
}

.bottom-down-down {
  position: absolute;
  
  bottom: 10px;
}

.roll-phase-1-left{
  
  float: left;
  height: 100%;
  width: 60%;
}

.roll-phase-1-right{
  margin-top: 0px;
  float: right;
  height: 100%;
  width: 40%;
}

.roll-phase-1{
  width: 350px;
}

.roll-phase-3{
  width: 400px;
}

.roll-phase-2{
  width: 200px;
}

@page {
  size: 7in 9.25in;
  margin: 27mm 16mm 27mm 16mm;
}

.container-left {
  border-color: black;
  position: relative;
  height: 1375px;
  width: 1063px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

.page-number{
  position: absolute;
  right: 50px; 
  bottom: 30px;
}

.marginPrint{
  margin: 25px;

}

.battery-small{
  width: 20px;
}

.card-layout-left{
  float: left;
  height: 100%;
  width: 17%;
}

.card-layout-left-1{
  
  float: left;
  height: 100%;
  width: 30%;
}
.card-layout-right{
  margin-top: 0px;
  float: right;
  height: 100%;
  width: 53%;
}

.event-formatting{
  margin-top: 20px;
  margin-left: 50px;
  margin-left: 50px;
}

.event{
  border: black;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  position: relative;
  width: 700px;
  height: 400px;
}

.event-image{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.event-description{
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.event-title{
  text-align: center;
}

.event-number{
  position: absolute;
  right: 10px; 
  bottom: 10px;

}


.cardlayout-small {
  width: 500px;
}

.point-cube {
  width: 25px;
}

.container-right {
  border-color: rgb(76, 0, 255);
  
  float: right;
  height: 100%;
  width: 50%;
  border-style: dashed;
  
}

.wire-nodes {
  width:50px;
}
.toggle-icon {
  width:30px;
}

.remove-block {
  clear:both;
}

.ability-left {
  float: left;
  height: 100%;
  width: 70%;
}
.ability-all {
  float: left;
  height: 100%;
  width: 100%;
}

.ability-right {
  float: right;
  height: 100%;
  width: 30%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.logo-instruction {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.html{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




.page{
  page-break-before: always;
}
.imagesmall {
  max-width: 25px;
}

.imagesmallOther {
  max-width: 200px;
}

.imagesmallerOther {
  max-width: 45px;
}

.margins {
  margin-left: 15px;
  margin-right: 15px;
}

.centertext{
  text-align: center;
}

.center-bottom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: center;
}

.small-image {
  width: 275px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#build-card {
  width: 275px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#claim-memory {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#rotate-card {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.center-battery {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.setup {
  height: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.setup1 {
  height: 100px;
 
}

.setup2{
  height: 35px;
}

.heightA{
  height: 250px;
  border-width: 3px;

}

.heightB{
  height: 450px;



}

.imageIns{
 
  width: 10px;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
